<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/myfile/js/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/myfile/css/main.css}">
    <script type="text/javascript" th:src="@{/myfile/js/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/myfile/css/global.css}">
</head>
<body class="micronews">
<div class="micronews-header-wrap">
    <div class="micronews-header w1000 layui-clear">
        <h1 class="logo">
            <a href="/">
                <img width="66px" height="22px" th:src="@{/layuiadmin/myfile/images/logo3.png}" alt="logo">
                <span class="layui-hide">logo</span>
            </a>
        </h1>
        <p class="nav">
            <a href="/front/index" target="_blank">首页</a>
            <a href="/front/group"  target="_blank" class="active">小组</a>
            <a href="/front/question"  target="_blank">问答</a>
            <a href="/strategy/newstrategy"  target="_blank">发表攻略</a>
        </p>
        <div class="search-bar">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="text" name="title" placeholder="搜索你要的内容" autocomplete="off" class="layui-input">
                        <button class="layui-btn search-btn" formnovalidate><i class="layui-icon layui-icon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="login">
            <a th:if="${session.userinfo == null}" href="/front/login">
                登录
            </a>
            <!--<img th:src="@{/layuiadmin/myfile/images/header.png}" style="width: 36px; height: 36px;">-->
            <ul th:if="${session.userinfo != null}" class="layui-nav" style="background-color: #fff;">
                <span id="user-id" style="display:none" th:text="${session.userinfo.getId()}"></span>
                <li class="layui-nav-item">
                    <a href="/front/usermsg" style="font-size: 16px;color: #222;">消息<span th:text="${session.msgnum}" class="layui-badge"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li class="layui-nav-item" lay-unselect="">
                    <a href="javascript:;" style="font-size: 16px;color: #222;"><img th:src="${session.userinfo.getImgUrl()}" style="height: 30px; width: 30px;" class="layui-nav-img" onerror="getdefaultImg(event)">&nbsp;&nbsp;</a>
                    <dl class="layui-nav-child">
                        <dd style="text-align: center"><a href="/front/userset"><i class="layui-icon layui-icon-user"></i>&nbsp;个人资料</a></dd>
                        <dd style="text-align: center"><a href="/front/userstrategy"><i class="layui-icon layui-icon-note"></i>&nbsp;攻略/问答</a></dd>
                        <dd style="text-align: center"><a href="/front/usergroup"><i class="layui-icon layui-icon-rate"></i>&nbsp;小组</a></dd>
                        <dd layadmin-event="logout" style="text-align: center"><a href="javascript:;"><i class="layui-icon layui-icon-logout"></i>&nbsp;登出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>
<style type="text/css">
    .wrap{
        margin: 10px auto;
        max-width: 1000px;
    }
    * {
        font-family: 微软雅黑;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    body{
        background-color: #F2F2F2;
    }

</style>
<div class="layui-container fly-marginTop fly-user-main">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item">
            <a th:href="'/front/userInfo?id='+${session.userinfo.getId()}">
                <i class="layui-icon">&#xe609;</i>
                我的主页
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/front/userstrategy">
                <i class="layui-icon layui-icon-note"></i>
                攻略
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/front/usergroup">
                <i class="layui-icon layui-icon-group"></i>
                小组
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/front/userquestion">
                <i class="layui-icon layui-icon-survey"></i>
                问答
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/front/userset">
                <i class="layui-icon">&#xe620;</i>
                基本设置
            </a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="/front/usermsg">
                <i class="layui-icon">&#xe611;</i>
                我的消息
            </a>
        </li>
    </ul>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20>
        <!--
        <div class="fly-msg" style="margin-top: 15px;">
          您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
        </div>
        -->
        <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
            <button class="layui-btn layui-btn-danger" id="LAY_delallmsg">清空全部消息</button>
            <div  id="LAY_minemsg" style="margin-top: 10px;">
                <!--<div class="fly-none">您暂时没有最新消息</div>-->
                <!--<ul class="mine-msg">-->
                    <!--<li data-id="123">-->
                        <!--<blockquote class="layui-elem-quote">-->
                            <!--<a href="/jump?username=Absolutely" target="_blank"><cite>Absolutely</cite></a>回答了您的求解<a target="_blank" href="/jie/8153.html/page/0/#item-1489505778669"><cite>layui后台框架</cite></a>-->
                        <!--</blockquote>-->
                        <!--<p><span>1小时前</span><a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>-->
                    <!--</li>-->
                    <!--<li data-id="123">-->
                        <!--<blockquote class="layui-elem-quote">-->
                            <!--系统消息：欢迎使用 layui-->
                        <!--</blockquote>-->
                        <!--<p><span>1小时前</span><a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>
</div>
<script id="msg-mod" type="text/html">
    {{# if(d != null){  }}
    <ul class="mine-msg">
        {{#  layui.each(d, function(index, item){ }}
        <li data-id="{{item.id}}">
            <blockquote class="layui-elem-quote">
                {{item.content}}
            </blockquote>
            <p><span>{{item.createTime}}</span><a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>
        </li>
        {{#  }); }}
    </ul>
    {{# }else{ }}
    <div class="fly-none">您暂时没有最新消息</div>
    {{# } }}
</script>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script>
    $('.search-btn').on('click', function () {
        var inpVal = $(this).siblings('input').val();
        // 搜索条件不为空串
        if (inpVal !== '') {
            var url = "/front/search-page";
            // window.open(encodeURI(url + "?pattern=" + inpVal));
            window.location.href = encodeURI(url + "?pattern=" + inpVal);
            // window.location.href = "/front/page/search-page?pattern=" + inpVal;
        }
        return false;
    });
    layui.config({
        base: '/layuiadmin/'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','element','laytpl','layer'],function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        var laytpl = layui.laytpl;
        var layer = layui.layer,
            index = layui.index;
        element.on('tab(user)', function(data){
            // console.log(this); //当前Tab标题所在的原始DOM元素
            // console.log(data.index); //得到当前Tab的所在下标
            // console.log(data.elem); //得到当前的Tab大容器
            var id = '#' + $(this).attr('data-type');
            setData(id);
        });
        loadData();
        function loadData() {
            $.ajax({
                url:"/user/userReMsg",
                type:"post",
                success:function(res){
                    if (res.code === 200) {
                        // 获取节点
                        var getTpl = document.getElementById('msg-mod').innerHTML;
                        // 执行tpl渲染
                        laytpl(getTpl).render(res.data, function (html) {
                            document.getElementById('LAY_minemsg').innerHTML = html;
                        });
                    }
                },
                error:function(res){
                    layer.msg("错误"+res);
                }
            });
        }
        // 批量删除
        $("#LAY_delallmsg").click(function () {
            var userId = $("#user-id").text();
            var _this = $(this);
            console.log("test1")
            layer.confirm('确定清空吗？', function(index){
                console.log("test1")
                $.ajax({
                    url:"/user/delAllMsg",
                    type:"post",
                    success:function(res){
                        if (res.code === 200) {
                            layer.close(index);
                            layer.msg("删除成功",{icon:6});
                            $("#LAY_minemsg").html('<div class="fly-none">您暂时没有最新消息</div>');
                        }
                    },
                    error:function(res){
                        layer.msg("错误"+res);
                    }
                });
            });
        });
        //单条删除

        //单条删除
        $("body").on('click','.mine-msg li .fly-delete',function(){
            var othis = $(this).parents('li'), msgId = othis.data('id');
            console.log("test1")
            $.ajax({
                url:"/user/delOneMsg",
                type:"post",
                data:{'msgId':msgId},
                success:function(res){
                    console.log(res);
                    if (res.code === 200) {
                        othis.remove();
                        layer.msg("删除成功",{icon:6});
                        delEnd();
                    }
                },
                error:function(res){
                    layer.msg("错误"+res.msg);
                }
            });
       });
        var delEnd = function(){
            if($("#LAY_minemsg").find('.mine-msg li').length === 0){
                $("#LAY_minemsg").html('<div class="fly-none">您暂时没有最新消息</div>');
            }
        }
        function setData(id) {

        }
    });
</script>
</body>
</html>