<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guo.traveldemo.web.mapper.MsgConfigMapper" >
  <resultMap id="BaseResultMap" type="com.guo.traveldemo.web.pojo.MsgConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="target_id" property="targetId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="collect" property="collect" jdbcType="TINYINT" />
    <result column="comment" property="comment" jdbcType="TINYINT" />
    <result column="reserve1" property="reserve1" jdbcType="TINYINT" />
    <result column="reserve2" property="reserve2" jdbcType="TINYINT" />
    <result column="reserve3" property="reserve3" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, target_id, type, collect, comment, reserve1, reserve2, reserve3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from msg_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from msg_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guo.traveldemo.web.pojo.MsgConfig" >
    insert into msg_config (id, user_id, target_id, 
      type, collect, comment, 
      reserve1, reserve2, reserve3
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{targetId,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{collect,jdbcType=TINYINT}, #{comment,jdbcType=TINYINT}, 
      #{reserve1,jdbcType=TINYINT}, #{reserve2,jdbcType=TINYINT}, #{reserve3,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guo.traveldemo.web.pojo.MsgConfig" >
    insert into msg_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="targetId != null" >
        target_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="collect != null" >
        collect,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="reserve1 != null" >
        reserve1,
      </if>
      <if test="reserve2 != null" >
        reserve2,
      </if>
      <if test="reserve3 != null" >
        reserve3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="collect != null" >
        #{collect,jdbcType=TINYINT},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=TINYINT},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=TINYINT},
      </if>
      <if test="reserve2 != null" >
        #{reserve2,jdbcType=TINYINT},
      </if>
      <if test="reserve3 != null" >
        #{reserve3,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guo.traveldemo.web.pojo.MsgConfig" >
    update msg_config
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="collect != null" >
        collect = #{collect,jdbcType=TINYINT},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=TINYINT},
      </if>
      <if test="reserve1 != null" >
        reserve1 = #{reserve1,jdbcType=TINYINT},
      </if>
      <if test="reserve2 != null" >
        reserve2 = #{reserve2,jdbcType=TINYINT},
      </if>
      <if test="reserve3 != null" >
        reserve3 = #{reserve3,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guo.traveldemo.web.pojo.MsgConfig" >
    update msg_config
    set user_id = #{userId,jdbcType=INTEGER},
      target_id = #{targetId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      collect = #{collect,jdbcType=TINYINT},
      comment = #{comment,jdbcType=TINYINT},
      reserve1 = #{reserve1,jdbcType=TINYINT},
      reserve2 = #{reserve2,jdbcType=TINYINT},
      reserve3 = #{reserve3,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>