<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guo.traveldemo.web.mapper.StrategyMapper" >
  <resultMap id="BaseResultMap" type="com.guo.traveldemo.web.pojo.Strategy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="detail_id" property="detailId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="sketch" property="sketch" jdbcType="VARCHAR" />
    <result column="collectnum" property="collectnum" jdbcType="INTEGER" />
    <result column="commentnum" property="commentnum" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="push_flag" property="pushFlag" jdbcType="TINYINT" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, detail_id, title, head_img_url, address, sketch, collectnum, commentnum, user_id, 
    date, push_flag, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from strategy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from strategy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guo.traveldemo.web.pojo.Strategy" >
    insert into strategy (id, detail_id, title, 
      head_img_url, address, sketch, 
      collectnum, commentnum, user_id, 
      date, push_flag, del_flag
      )
    values (#{id,jdbcType=INTEGER}, #{detailId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{headImgUrl,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{sketch,jdbcType=VARCHAR}, 
      #{collectnum,jdbcType=INTEGER}, #{commentnum,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{date,jdbcType=TIMESTAMP}, #{pushFlag,jdbcType=TINYINT}, #{delFlag,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guo.traveldemo.web.pojo.Strategy" >
    insert into strategy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="detailId != null" >
        detail_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="headImgUrl != null" >
        head_img_url,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="sketch != null" >
        sketch,
      </if>
      <if test="collectnum != null" >
        collectnum,
      </if>
      <if test="commentnum != null" >
        commentnum,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="pushFlag != null" >
        push_flag,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="detailId != null" >
        #{detailId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null" >
        #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="sketch != null" >
        #{sketch,jdbcType=VARCHAR},
      </if>
      <if test="collectnum != null" >
        #{collectnum,jdbcType=INTEGER},
      </if>
      <if test="commentnum != null" >
        #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="pushFlag != null" >
        #{pushFlag,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guo.traveldemo.web.pojo.Strategy" >
    update strategy
    <set >
      <if test="detailId != null" >
        detail_id = #{detailId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null" >
        head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="sketch != null" >
        sketch = #{sketch,jdbcType=VARCHAR},
      </if>
      <if test="collectnum != null" >
        collectnum = #{collectnum,jdbcType=INTEGER},
      </if>
      <if test="commentnum != null" >
        commentnum = #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="pushFlag != null" >
        push_flag = #{pushFlag,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guo.traveldemo.web.pojo.Strategy" >
    update strategy
    set detail_id = #{detailId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      sketch = #{sketch,jdbcType=VARCHAR},
      collectnum = #{collectnum,jdbcType=INTEGER},
      commentnum = #{commentnum,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP},
      push_flag = #{pushFlag,jdbcType=TINYINT},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>